AliceVision/
BetterDiscord Installer/
blender/
btop/
cat_installer/
Code - OSS/
configstore/
darktable/
dconf/
discord/
dwm-extra/
Electron/ 
flameshot/
gtk-2.0/
gtk-3.0/
htop/
lsp-plugins/
lutris/
mimeapps.list
onlyoffice/
pulse/
QtProject.conf
rua/
spotify/
unity3d/
unityhub/
