lutris/
discord/
mimeapps.list
rua/
BetterDiscord Installer/
gtk-2.0/
gtk-3.0/
spotify/
dconf/
pulse/
btop/
cat_installer/
htop/
lsp-plugins/
QtProject.conf
flameshot/
onlyoffice/
dwm-extra/
AliceVision/
blender/
darktable/
configstore/
Code - OSS/
Electron/ 
