*/.vscode/*
AliceVision/
BetterDiscord Installer/
blender/
btop/
cat_installer/
Code - OSS/
configstore/
darktable/
dconf/
discord/
dooit/
dwm-extra/
Electron/ 
flameshot/
GIMP/
GitKraken/
Google/
gtk-2.0/
gtk-3.0/
htop/
lsp-plugins/
lutris/
mimeapps.list
notion-app/
nvim/lua/user/configs/old/
nvim/plugin/
nvtop/
obsidian/
onlyoffice/
pulse/
QtProject.conf
rua/
spotify/
unity3d/
unityhub/
vlc/
